@model SBR.Models.Propiedad

@{
    ViewData["Title"] = "Detalles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div class="row bg-white p-4">
        <div class="col-12 text-center"><h1>@Model.Titulo</h1></div>
        <div class="col-12 text-center"><img height="350" src="~/files/propiedades/@Model.Id/@Model.imagenes.FirstOrDefault()" /></div>
        <dl class="col-12 mt-4">
            <dt class="h3">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>
        <dl class="col-md-6 mt-4">
            <dt class="h4">
                @Html.DisplayNameFor(model => model.Titulo)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.Titulo)
            </dd>
            <dt class="h4">
                @Html.DisplayNameFor(model => model.Precio)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.Precio)
            </dd>
            <dt class="h4">
                @Html.DisplayNameFor(model => model.Moneda)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.Moneda)
            </dd>
            <dt class="h4">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
            <dt class="h4">
                @Html.DisplayNameFor(model => model.NombrePropietario)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.NombrePropietario)
            </dd>
            <dt class="h4">
                @Html.DisplayNameFor(model => model.ContactoPropietario)
            </dt>
            <dd class="text-xl-left">
                @Html.DisplayFor(model => model.ContactoPropietario)
            </dd>
        </dl>
    </div>
@if(User.Identity.IsAuthenticated)
{
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Editar</a> |
    <a asp-action="Index">Volver a la lista</a>
</div>
}

