@model IEnumerable<SBR.Models.Propiedad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Propiedades</h1>

<p>
    <a asp-action="Create">Agregar Nueva</a>
</p>
<table class="table" id="table-propiedades">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Moneda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NombrePropietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContactoPropietario)
            </th>
            <th>Imagen principal</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Moneda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombrePropietario)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ContactoPropietario)
                </td>
                <td>
                    @if (item.imagenes.Count() > 0)
                    {
                        <img height="60" src="~/files/propiedades/@item.Id/@item.imagenes.FirstOrDefault()" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script type="text/javascript">
        // $(document).ready(function() {
        //$('#table-propiedades').DataTable();
        //} );
    </script>
   
}
